<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" routerLink="/clientes/novo"></button>
    </ng-template>
</p-toolbar>

<div fxShow="true" fxHide.lt-md class="card">
    <p-table 
    #dt
    [value]="clientes" 
    [paginator]="false"
    [rows]="pageSize" 
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    (onSort)="onSort($event)"
    styleClass="p-datatable-gridlines p-datatable-sm"
    [rowHover]="true"
    [showCurrentPageReport]="true"
    [globalFilterFields]="['nome']"
  >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Clientes
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="none mat-row">
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="nome" style="min-width:15rem">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                <th pSortableColumn="documento">Documento </th>
                <th pSortableColumn="tipoDocumento">Tipo </th>
                <th pSortableColumn="telefone">Telefone </th>
                <th pSortableColumn="email">Email </th>
                <th pSortableColumn="cidade">Cidade </th>
                <th pSortableColumn="estado">Estado </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
            <tr>
                <td class="mat-cell has_label_on_mobile">
                    <p-tableCheckbox [value]="cliente"></p-tableCheckbox>
                </td>
                <td class="mat-cell">{{ cliente.nome }}</td>
                <td class="mat-cell">{{ cliente.documento }}</td>
                <td class="mat-cell">{{ cliente.tipoDocumento === 0 ? 'CPF' : 'CNPJ' }}</td>
                <td class="mat-cell">{{ cliente.telefone }}</td>
                <td class="mat-cell">{{ cliente.email }}</td>
                <td class="mat-cell">{{ cliente.cidade }}</td>
                <td class="mat-cell">{{ cliente.estado }}</td>
                <td class="mat-cell">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editarCliente(cliente)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="confirmarExclusao(cliente)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <p-paginator 
                [rows]="pageSize" 
                [totalRecords]="totalRecords" 
                [first]="(currentPage-1) * pageSize"
                (onPageChange)="onPageChange($event)"
                [rowsPerPageOptions]="[5, 10, 25, 50]">
            </p-paginator>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="excluirClienteDialog" header="Confirmar Exclusão" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="clienteSelecionado">Tem certeza que deseja excluir o cliente <b>{{clienteSelecionado.nome}}</b>?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="excluirClienteDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="excluirCliente()"></button>
        </ng-template>
    </p-dialog>
</div>