<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" routerLink="/clientes/listar"></button>
        <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger" [disabled]="!selectedClientes || !selectedClientes.length"></button>
    </ng-template>
</p-toolbar>

<div fxShow="true" fxHide.lt-md class="card">
    <p-table #dt [value]="clientes"
    dataKey="id"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [paginator]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [filterDelay]="0"
    [globalFilterFields]="['nome', 'documento', 'email', 'cidade']" 
    [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Clientes
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="none mat-row">
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="nome" style="min-width:15rem">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                <th pSortableColumn="documento">Documento <p-sortIcon field="documento"></p-sortIcon></th>
                <th pSortableColumn="tipoDocumento">Tipo <p-sortIcon field="tipoDocumento"></p-sortIcon></th>
                <th pSortableColumn="telefone">Telefone <p-sortIcon field="telefone"></p-sortIcon></th>
                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="cidade">Cidade <p-sortIcon field="cidade"></p-sortIcon></th>
                <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
            <tr>
                <td class="mat-cell has_label_on_mobile">
                    <p-tableCheckbox [value]="cliente"></p-tableCheckbox>
                </td>
                <td class="mat-cell">{{ cliente.nome }}</td>
                <td class="mat-cell">{{ cliente.documento }}</td>
                <td class="mat-cell">{{ cliente.tipoDocumento === 0 ? 'CPF' : 'CNPJ' }}</td>
                <td class="mat-cell">{{ cliente.telefone }}</td>
                <td class="mat-cell">{{ cliente.email }}</td>
                <td class="mat-cell">{{ cliente.cidade }}</td>
                <td class="mat-cell">{{ cliente.estado }}</td>
                <td class="mat-cell">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Total de {{ clientes ? clientes.length : 0 }} clientes.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Cadastro de Cliente" [(visible)]="visible">



                                <form [formGroup]="clienteForm" (ngSubmit)="adicionarCliente()">
                                    <div class="form-group">
                                        <label class="control-label">Nome</label>
                                        <div>
                                            <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Tipo de Documento</label>
                                        <div>
                                            <select class="form-control" id="tipoDocumento" formControlName="tipoDocumento">
                                                <option [ngValue]="0">CPF</option>
                                                <option [ngValue]="1">CNPJ</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label">Documento</label>
                                        <div>
                                            <input class="form-control" id="documento" type="text" placeholder="Documento (requerido)" formControlName="documento" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Data de Nascimento</label>
                                        <div>
                                            <input class="form-control" id="dataNascimento" type="date" formControlName="dataNascimento" />
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label">Telefone</label>
                                        <div>
                                            <input class="form-control" id="telefone" type="text" placeholder="Telefone" formControlName="telefone" />
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <div>
                                            <input class="form-control" id="email" type="email" placeholder="Email" formControlName="email" />
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label">CEP</label>
                                        <div>
                                            <input class="form-control" id="cep" type="text" placeholder="CEP" formControlName="cep" />
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label">Logradouro</label>
                                        <div>
                                            <input class="form-control" id="logradouro" type="text" placeholder="Logradouro" formControlName="logradouro" />
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label">Número</label>
                                        <div>
                                            <input class="form-control" id="numero" type="text" placeholder="Número" formControlName="numero" />
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label">Bairro</label>
                                        <div>
                                            <input class="form-control" id="bairro" type="text" placeholder="Bairro" formControlName="bairro" />
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label">Cidade</label>
                                        <div>
                                            <input class="form-control" id="cidade" type="text" placeholder="Cidade" formControlName="cidade" />
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label">Estado</label>
                                        <div>
                                            <input class="form-control" id="estado" type="text" placeholder="Estado" formControlName="estado" />
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label">Inscrição Estadual</label>
                                        <div>
                                            <input class="form-control" id="inscricaoEstadual" type="text" placeholder="Inscrição Estadual" formControlName="inscricaoEstadual" />
                                        </div>
                                    </div>
                                    
                                    <div class="form-group form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="isento" formControlName="isento" name="isento" value="true"> Isento?
                                        </label>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="submit" id="cadastroCliente" value="Cadastrar" class="btn btn-primary">&nbsp;
                                        <button type="button" class="btn btn-info" (click)="closeDialog()">Voltar</button>
                                    </div>
                                </form>

</p-dialog>