<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" routerLink="/clientes/novo"></button>
    </ng-template>
</p-toolbar>

<div fxShow="true" fxHide.lt-md class="card">
    <p-table 
    #dt
    [value]="clientes" 
    [paginator]="false"
    [rows]="pageSize" 
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    (onSort)="onSort($event)"
    styleClass="p-datatable-gridlines p-datatable-sm"
    [rowHover]="true"
    [showCurrentPageReport]="true"
    [globalFilterFields]="['nome', 'documento', 'email', 'telefone', 'cidade', 'estado']"
  >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Clientes
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="none mat-row">
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="nome" style="min-width:15rem">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                <th pSortableColumn="documento">Documento <p-sortIcon field="documento"></p-sortIcon></th>
                <th pSortableColumn="tipoDocumento">Tipo <p-sortIcon field="tipoDocumento"></p-sortIcon></th>
                <th pSortableColumn="telefone">Telefone <p-sortIcon field="telefone"></p-sortIcon></th>
                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="cidade">Cidade <p-sortIcon field="cidade"></p-sortIcon></th>
                <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
            <tr>
                <td class="mat-cell has_label_on_mobile">
                    <p-tableCheckbox [value]="cliente"></p-tableCheckbox>
                </td>
                <td class="mat-cell">{{ cliente.nome }}</td>
                <td class="mat-cell">{{ cliente.documento }}</td>
                <td class="mat-cell">{{ cliente.tipoDocumento === 0 ? 'CPF' : 'CNPJ' }}</td>
                <td class="mat-cell">{{ cliente.telefone }}</td>
                <td class="mat-cell">{{ cliente.email }}</td>
                <td class="mat-cell">{{ cliente.cidade }}</td>
                <td class="mat-cell">{{ cliente.estado }}</td>
                <td class="mat-cell">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <p-paginator 
                [rows]="pageSize" 
                [totalRecords]="totalRecords" 
                [first]="(currentPage-1) * pageSize"
                (onPageChange)="onPageChange($event)"
                [rowsPerPageOptions]="[5, 10, 25, 50]">
            </p-paginator>
        </ng-template>
    </p-table>
</div>